<div class="dialog-content-wrapper" >

    <div mat-dialog-content class="m-0 page-layout carded fullwidth" fusePerfectScrollbar>
  
      <div class="header">
        <div class="title">{{title}}</div>
        <div class="close" style="position: absolute;top: 0px;right: 0;">
          <mat-icon class="mat-icon ng-tns-c9-1 material-icons close-dialog" (click)="dialogRef.close(false)" role="img" aria-hidden="true" >close</mat-icon>
        </div>
      </div>
  
      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
          <form  [formGroup]="form" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" >
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="form-input" fxFlex="100">
                  <input [formControl]="nameFormControl"  matInput placeholder="Nombre"  required>
                  <mat-error *ngIf="nameFormControl.errors?.required">Ingresa un nombre</mat-error>
                  <mat-error *ngIf="nameFormControl.errors?.maxlength">Máximo 50 caracteres</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" class="form-input">
                  <input class="form-input" [formControl]="userFormControl" type="text" placeholder="Responsable" aria-label="Number" matInput  [matAutocomplete]="auto">
                  <mat-autocomplete class="form-input" #auto="matAutocomplete" [displayWith]="userFormControlDisplayFn" >
                    <mat-option *ngFor="let option of filteredOptionsUserFormControl | async " [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="content-save-button">
                <button mat-button (click)="save()" mat-raised-button color="accent" > Guardar </button>
              </div>
            </form>
      </div>
    </div>
</div>