$button-primary-color: #001970;
$button-primary-color-hover: #0f2779;
$tag-primary: #868686;
$tag-secondary: #dadbdd;
$primary-color: #434a54;
$secondary-color: #81858C;
$title-color: #60656e;
$border-radius: 8px;

$status-cancelled: #D74038;
$status-new: #58BFC9;
$status-processing: #FF852B;
$status-finished: #16B879;
$status-paused: #90858F;

$table-head-color: #001970;
$table-tr-color: #4D535D;
$table-tr-color-finished: #ACAEB3;
$table-tr-color-selected: #FFFFFF;
$table-tr-color-hover: #4D535D;
$table-tr-background-selected: #97A1C5;
$table-tr-background-hover: #C2C4C5;
