@import "src/@fuse/scss/fuse";
@import "src/config/scss/identity";

:host {
  #reset-password {
    width: 100%;
    background-image: url("assets/images/backgrounds/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    align-items: center;
    justify-content: center;

    #reset-password-form-wrapper {
      margin-top: 20px;
      flex: 1 0 auto;
      padding: 32px;

      @include media-breakpoint("xs") {
        padding: 16px;
      }

      .logo-main {
        width: 125px;
        margin: 0px auto 80px;
      }

      #reset-password-form {
        width: 360px;
        max-width: 360px;
        padding: 32px;
        background: #ffffff;
        @extend %round-borders-primary;
        text-align: center;
        -webkit-box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;

        @include media-breakpoint("xs") {
          padding: 24px;
          width: 100%;
        }

        .expired {
          color: #81858c;
        }

        .logo {
          width: 230px;
          margin: 0px auto 20px;
        }

        .title {
          font-size: 20px;
          margin: 16px 0 16px 0;
          color: #81858c;
          font-weight: 600;
        }

        form {
          width: 100%;
          text-align: left;
          padding: 10px 20px 0px;

          mat-form-field {
            width: 100%;
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;
            background: #6d335e !important;
            font-weight: 400;

            @include media-breakpoint("xs") {
              width: 90%;
            }
          }
        }

        .login {
          margin: 50px auto 0 auto;
          width: 250px;
          font-weight: 500;
          font-size: 15px;

          a {
            color: #81858c;
            text-decoration: none;
          }

          .text {
            margin-right: 8px;
          }
        }

        .loading mat-spinner {
          margin: auto;
        }

        button {
          @include button-primary();
          padding: 7px 0px !important;
          width: 100% !important;
          max-width: 300px !important;
        }
      }
    }

    .loading {
      padding: 10px 0px;
      text-align: center;

      mat-spinner {
        margin: auto;
      }
    }

    .footer {
      padding: 10px 0px 30px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      align-self: flex-end;
    }
  }
}
