<div id="reset-password" fxLayout="column">

  <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div class="logo-main pt-10">
      <img src="assets/images/jalisco-logo-fondo.png">
    </div>

    <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo pt-10">
        <img src="assets/images/sisovid_2.png">
      </div>

      <div class="logo pt-10">
        <img src="assets/images/sistema_desaparecidos_2.png">
      </div>

      <div class="title">CAMBIAR CONTRASEÑA</div>

      <div *ngIf="loading && !validToken">
        <label>Validando Contraseña</label>
        <div class="loading">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>
      </div>

      <div *ngIf="expired">
        <label class="expired">El token ya expiró. ¿Deseas volver a solicitarlo? ve al siguiente link</label>
        <div class="login" fxLayout="row" fxLayoutAlign="center center">
          <a class="link" [routerLink]="'/recuperar'">Recuperar contraseña</a>
        </div>
      </div>

      <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate *ngIf="validToken">

        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" formControlName="password" maxlength="16">
          <mat-error *ngIf="resetPasswordFormErrors.password.required">
            La contraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="resetPasswordFormErrors.password.minlength">
            Ingresa al menos 8 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña (Confirmar)" formControlName="passwordConfirm"
            maxlength="16">
          <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
            Confirmar contraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
            Las contraseñas deben ser iguales
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" (click)="reset()" color="accent" aria-label="RESET MY PASSWORD"
          [disabled]="resetPasswordForm.invalid" *ngIf="!loading">
          Cambiar contraseña
        </button>

        <div *ngIf="loading" class="loading">
          <mat-spinner [diameter]="60"></mat-spinner>
        </div>

        <div class="login" fxLayout="row" fxLayoutAlign="center center">
          <a class="link" [routerLink]="'/login'">Regresar al login</a>
        </div>
      </form>

    </div>

  </div>

  <div class="footer">
    JALISCO - Gobierno del Estado ©
  </div>

</div>