<div id="forgot-password" fxLayout="column">

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
    <div class="logo-main pt-10">
      <img src="assets/images/jalisco-logo-fondo.png">
    </div>

    <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
      
      <div class="logo pt-10">
        <img src="assets/images/sisovid_2.png">
      </div>

      <div class="logo pt-10">
        <img src="assets/images/sistema_desaparecidos_2.png">
      </div>

      <div class="title">RECUPERAR CONTRASEÑA</div>

      <form class="text-center" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate autocomplete="off">

        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="email">
          <mat-error *ngIf="forgotPasswordFormErrors.email.required">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
            Ingrese un correo válido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" (click)="recovery()" aria-label="ENVIAR LINK"
          [disabled]="forgotPasswordForm.invalid" *ngIf="!loading">
          ENVIAR
        </button>

        <div *ngIf="loading" class="loading">
          <mat-spinner [diameter]="60"></mat-spinner>
        </div>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/login'">Regresar al login</a>
      </div>
    </div>

  </div>

  <div class="footer">
    JALISCO - Gobierno del Estado © {{year}}
  </div>

</div>