@import "src/@fuse/scss/fuse";
@import "src/config/scss/identity";

.wrapper-login-dialog {
  max-width: 300px !important;

  .text-center {
    text-align: center;
  }

  .message {
    color: #434a54;
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
  }

  mat-icon {
    cursor: pointer;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .pointer {
    cursor: pointer;
  }

  .header {
    .close {
      position: absolute;
      top: 0px;
      right: 0;
    }
  }

  .confirmation {
    font-size: 26px;
    font-weight: bold;
    color: #845579;
    margin-bottom: 20px;
  }

  .content-dialog {
    color: #434a54;
    padding: 20px 50px 40px 50px;
    font-size: 17px !important;
    text-align: center;
    max-width: 500px;
    text-align: center;
  }

  .btn-accept {
    color: #fff !important;
    background-color: #845579 !important;
    padding: 0px 35px !important;
    width: auto !important;
    border-radius: 8px !important;
    font-size: 15px !important;
    font-weight: 500;
    transition: all 0.45s ease !important;
    line-height: 35px !important;
    margin-left: 16px;
  }

  .btn-cancel {
    color: #434a54;
    background-color: #e5e5e6 !important;
    margin-right: 10px;
    line-height: 35px !important;
    font-size: 14px !important;
    box-shadow: none !important;
    font-size: 15px !important;
    font-weight: 500;
    border-radius: 8px !important;
  }

  .btn-accept:hover {
    background-color: #6d335e !important;
  }

  .btn-cancel:hover {
    background-color: #cfcfd1 !important;
  }

  .login-dialog {
    padding: 0 5px;
    max-width: 280px;

    .login-form {
      display: flex;
      flex-direction: column;
      width: 280px;
      max-width: 280px;
      background: #ffffff;
      text-align: center;
      overflow: hidden;

      .title {
        font-size: 20px;
        margin: 16px 0 32px 0;
      }

      form {
        padding: 30px 20px 0px;
        width: 100%;
        text-align: left;

        mat-form-field {
          width: 100% !important;
        }

        .mat-form-field-label-wrapper {
          font-size: 12px !important;
        }

        ::ng-deep {
          .mat-form-field-underline {
            background-color: #ccc;
          }
          .mat-form-field-label {
            font-size: 13px;
          }
        }
      }

      .submit-button {
        margin: 16px auto;
        display: block;
        margin-top: 40px;
        padding: 7px 0px !important;
        width: 100% !important;
        background: #6d335e !important;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        border-radius: 8px;

        @include media-breakpoint("xs") {
          width: 90%;
        }
      }

      .mt-50 {
        margin-top: 50px;
      }
    }

    .loading {
      padding: 10px 0px;
      text-align: center;

      mat-spinner {
        margin: auto;
      }
    }
  }
}
